*{
    font-family: 'Courier New';
    
    
}
h1{
    color: #1b74e4;
}
#login
{
    color: white;
    background-color: black;
}
#signup
{
    color: white;
    background-color: black;
}

.follow{
    color: white;
    color: rgb(245, 41, 54);
}
h1{
    color: rgb(245, 41, 54);
}